<div 
    id="header"
    class="lighten content-padding"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
>
    <h1>
        <!-- <fa-icon [icon]="faSpotify"></fa-icon>
        <fa-icon [icon]="faStopwatch"></fa-icon> -->
        <img id='logo' src='/assets/images/spower-hour-logo.png' />
        Spower Hour
    </h1>
    <div *ngIf="spowerHourService.isConnected() && spowerHourService.profile" id='userInfo'
    fxLayout
    fxLayout.xs="rows"
>
        <img *ngIf="spowerHourService.profile.images.length" [src]='spowerHourService.profile.images[0].url'>
        <div>
                {{ spowerHourService.profile.display_name }}<br />
                <a href='javascript: void(0)' (click)="spowerHourService.logout()">Logout</a>
        </div>
    </div>
</div>