::ng-deep #nowPlayingInfo-page {
    text-align: center;
     .nowPlayingImage {
        margin-top: 1em;
        position: relative;
        img {
            max-width: 50vw;
            max-height: 50vh;
            object-fit: cover;
        }
        .nowPlayingCounter {
            font-size: 40vmin;
            text-shadow: 10px 10px 10px #000000;
        }
    }
}
