$playlist-size: 200px;

.playlist {
    text-align: center;
    position: relative;
    width: $playlist-size;
    height: $playlist-size;
    margin-bottom: 10px;
    cursor: pointer;
    .playlistTitle {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        .playlistTitleWords {
          text-shadow: 2px 2px #000000;
          padding: 1em;
        }
    }
    .playlistImage {
        width: 100%;
        object-fit: cover;
    }
    &:hover {
        .playlistTitle {
            width: $playlist-size;
            height: 200px;
            display: block;
            background: #000000;
            background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 100%);
            color: #FFFFFF;
        }
    }
}

::ng-deep ngx-masonry{
    width: 100%;
}