<h2>You have connected your Spotify account!</h2>
<p>Click a playlist to get your Spower Hour started.</p>
<ngx-masonry [useImagesLoaded]="true" [options]="{gutter: 10}">
  <div 
    ngxMasonryItem 
    *ngFor="let playlist of spowerHourService.playlists; let i = index"
    (click)="spowerHourService.selectPlaylist(playlist)"
    class="playlist lighten"
    [ngClass]="{'brokenImage': playlist.images.length === 0}"
  >
    <img 
      *ngIf="playlist.images.length"
      class='playlistImage' 
      [src]="playlist.images[0].url"
      [alt]="playlist.name + ' image'"
      (error)="fixBrokenImage(i)"
    > 
    <div class='playlistTitle'>
      <div 
        fxLayout="row"
        fxLayout.xs="column" 
        fxFlexFill
        fxLayoutAlign="center center"
      >
        <div class='playlistTitleWords'>{{ playlist.name }}</div>
      </div>
    </div>
  </div>
</ngx-masonry>