<mat-vertical-stepper [linear]="true" #stepper [selectedIndex]="currentStep">
  <mat-step [completed]="true">
    <ng-template matStepLabel>Step 1: Connect your Spotify account!</ng-template>
    <div *ngIf="!spotifyApiService.isConnected()">
      <button (click)="spotifyConnect()">Connect your Spotify Account</button>
    </div>
    <div *ngIf="spotifyApiService.isConnected()">
      You are connected!
    </div>
  </mat-step>
  <mat-step [completed]="true">
    <ng-template matStepLabel>Step 2: Choose a Device!</ng-template>
    <div *ngFor="let device of spotifyApiService.devices" (click)="this.setDevice(device)">
      {{ device.name }}
    </div>
    <div (click)="spotifyApiService.getDevices()">Don't see your device? Open spotify on that device and click here to refresh the list above.</div>
  </mat-step>
  <mat-step [completed]="true">
    <ng-template matStepLabel>Step 3: Choose a Playlist!</ng-template>
    <div *ngFor="let playlist of spotifyApiService.playlists" (click)="this.selectPlaylist(playlist)">
      {{ playlist.name }}
    </div>
  </mat-step>
  <mat-step [completed]="true">
    <ng-template matStepLabel>Step 4: Start the Spower Hour!</ng-template>
    <div *ngIf="spotifyApiService.currentTrack" class="currentTrack">
      <div class="currentTrackImage">
        <img [src]="spotifyApiService.currentTrack.item.album.images[0].url" />
        <div class="currentTrackCounter" *ngIf="counter">
          {{ counter }}
        </div>      
      </div>
      <div>{{ spotifyApiService.currentTrack.item.name }}</div>
    </div>
  </mat-step>
</mat-vertical-stepper>